<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Success</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/success.css') }}">

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
          rel="stylesheet">

</head>

<body>

<div class="container">

    <div class="card">

        <h1>🎉 Job Posted Successfully!</h1>

        <p>

            The job description has been submitted successfully.

            Applicants can now upload their resumes for screening.

        </p>

        <div class="buttons">

            <a href="/" class="btn">
                Home
            </a>

            <a href="/applicant" class="btn">
                Applicant Portal
            </a>

        </div>

    </div>

</div>

</body>

</html>