body{

    font-family:Poppins,sans-serif;

    background:#eef4ff;

    padding:40px;

}

h1{

    text-align:center;

    color:#1e3a8a;

    margin-bottom:30px;

}

table{

    width:100%;

    border-collapse:collapse;

    background:white;

}

th{

    background:#2563eb;

    color:white;

    padding:15px;

}

td{

    padding:15px;

    text-align:center;

    border-bottom:1px solid #ddd;

}

a{

    text-decoration:none;

    color:#2563eb;

    font-weight:bold;

}