*{

    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;

}

body{

    background:#eef4ff;

    display:flex;

    justify-content:center;

    align-items:center;

    height:100vh;

}

.container{

    width:100%;

    display:flex;

    justify-content:center;

    align-items:center;

}

.card{

    background:white;

    width:600px;

    padding:50px;

    border-radius:15px;

    box-shadow:0 5px 15px rgba(0,0,0,.2);

    text-align:center;

}

.card h1{

    color:#16a34a;

    margin-bottom:25px;

}

.card p{

    color:#555;

    font-size:18px;

    line-height:1.8;

    margin-bottom:35px;

}

.buttons{

    display:flex;

    justify-content:center;

    gap:20px;

}

.btn{

    text-decoration:none;

    background:#2563eb;

    color:white;

    padding:14px 28px;

    border-radius:8px;

    transition:.3s;

}

.btn:hover{

    background:#1d4ed8;

}